/* Estilos para el header */
header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

header .logo-container {
    position: relative;
    width: 100%;
    height: auto;
}

header .logo-container img {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(17, 198, 74);
    text-shadow: 20px 20px 4px rgba(8, 8, 8, 0.5);
    font-size: 10em; /* Ajusta el tamaño según tu necesidad */
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente aquí */
}

/* Estilos para el menú */
.menu-container {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #aa6262;
    text-decoration: none;
    font-weight: bold;
    font-size: 48px;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    transform: scale(1.2);
    color: #001aff;
}

nav ul li a.active {
    color: #bbff00;
}

/* Estilos para los productos destacados */
#productosDestacados {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

.product {
    width: 300px;
    border: 2px solid #88b422;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, border-radius 0.3s;
}

.product img:hover {
    z-index: 9999;
    transform: scale(2.2);
    border-radius: 2px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

footer p {
    margin: 7px 0;
    font-size: 18px;
}
