/* Estilos generales */
body {
    background-color: #c3edf3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color:  #485ac9;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}

header img {
    width: 90%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 125px;
}

h2 {
    font-size: 26px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 20px;
}

.contact, .location {
    max-width: 800px;
    margin: 0 auto 50px; /* Agregamos margen inferior para separar el footer */
}

.contact h2, .location h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact form div {
    margin-bottom: 20px;
    text-align: left;
}

.contact form label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.contact form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
}

.location iframe {
    width: 100%;
    height: 400px;
    border: none;
}

/* Estilos para el menú de categorías */
#categoriasMenu {
    position: center;
    top: 0;
    left: 0;
    width: 200px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    background-color:#c3edf3; /* Color de fondo del menú */
    color: rgb(58, 55, 55);
    text-shadow: 4px 4px 8px rgba(1, 5, 5, 0.5);
    margin-top: 50px; /* Reducir el margen superior para que el h2 quede más cerca de las imágenes */
}

#categoriasMenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#categoriasMenu nav ul li {
    margin-bottom: 40px;
}

#categoriasMenu nav ul li a {
    text-decoration:dotted ;
    color: #333;
    font-weight: bold;
    font-size: x-large;
}

/* Estilos para los productos destacados */
#productosDestacados {
    background-color: #c3edf3;;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px; /* Ajusta el margen superior para dejar espacio para el encabezado */
}

.product {
    width: 300px; /* Ajusta el ancho del producto */
    border: 2px solid #88b422; /* Aumenta el grosor del borde */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block; /* Alinea los productos en línea */
}

.product h2 {
    
    color: rgb(58, 55, 55);
    text-shadow: 4px 4px 8px rgba(1, 5, 5, 0.5);
    margin-top: 50px; /* Reducir el margen superior para que el h2 quede más cerca de las imágenes */
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
    border: 5px solid #cccccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    display: inline-block;
}

.product-images {
    position: relative;
    margin-bottom: 10px;
}

.product-images img {
    
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para las miniaturas */
.thumbnail-images {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.thumbnail-images .thumbnail {
    width: 20%;
    cursor: pointer;
}

.thumbnail-images img {
    width: 20%;
    cursor: pointer;
}

.thumbnail-images .thumbnail:hover,
.thumbnail-images img:hover {
    border: 2px solid #485ac9;
}

.main-image {
    z-index: 1;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Agrega esquinas redondeadas */
    transition: transform 0.3s, border-radius 0.3s; /* Agrega transición al agrandar y redondear */
}

.product img:hover {
    z-index: 9999; /* Asegura que la imagen agrandada esté por encima de las otras */
    transform: scale(2.2); /* Agranda la imagen al pasar el mouse */
    border-radius: 2px; /* Aumenta el radio de las esquinas al pasar el mouse */

}

.product h2 {
    position: relative; /* Cambiar a posición relativa */
    z-index: 2; /* Asegurar que el h2 esté por encima de las miniaturas */
}

.product button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #45a049;
}
.product:hover h2 {
  
    transform: scale(1.2); /* Ajusta el valor de escala según sea necesario */
    

    transition: transform 0.3s ease; /* Agrega una transición suave */
}
#categoriasMenu li:hover a {

    transform: scale(1.2); /* Ajusta el valor de escala según sea necesario */

    transition: transform 0.3s ease; /* Agrega una transición suave */
}

/* Estilos para el footer */

footer p {
    margin: 7px 0;
    font-size: 28px;
    font-size: 18px;
    margin: 7px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

#carrito {
    margin: 50px auto; /* Ajusta el margen para centrar horizontalmente */
    max-width: 800px; /* Establece un ancho máximo para el carrito */
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 250px;
    height: auto;
    margin-right: 80px;
}

.item-info {
    flex-grow: 1;
}

.item-info h3 {
    margin-top: 0;
}

.eliminar-btn {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.eliminar-btn:hover {
    background-color: #ff0000;
}

#total {
    margin: 50px auto; /* Ajusta el margen para centrar horizontalmente */
    max-width: 800px; /* Establece un ancho máximo para el total */
    text-align: center; /* Centra el texto */
}

#total p {
    margin-bottom: 10px;
}

.payment-icons {
    font-size: 24px;
}

.payment-icons i {
    margin-right: 10px;
}